/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');


 /* colors */
:root {
    --dark-grey-blue: hsl(234, 25%, 52%);
    --dark-blue: hsl(233, 54%, 16%);
    --grey: hsl(232, 10%, 56%);
    --red-pink: hsl(341, 92%, 62%);
    --light-pink: hsl(341, 100%, 83%);
    --white: hsl(0, 0%, 100%);
    --red-grad: hsl(322, 87%, 55%);
    --blue-grad: hsl(237, 100%, 64%);
    --orange: hsl(13, 100%, 64%);
 }

 /* fonts
 font-family: 'Plus Jakarta Sans', sans-serif; 
 */

 /* reset */
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: 'Plus Jakarta Sans', sans-serif; 
}

a {
    text-decoration: none;
    color: var(--red-pink);
}

a:hover {
    color: var(--light-pink);
}

h1 {
    font-size: 56px;   
}

h2 {
    font-size: 32px;
    font-weight: 800;
}

h4 {
    font-size: 24px;
    font-weight: 800;
}

p {
    font-size: 18px;
    color: var(--grey);
}

.start {
    cursor: pointer;
}

button.start {
    padding: 10px 30px;
    border-radius: 30px;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 80%;
    margin: 0 auto;
}

/* header.menu {
    background-color: var(--light-pink);
} */

div.banner {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
}

div.container {
    display: flex;
    background: linear-gradient(180deg, var(--white) , #e0e1f0 100%);
}

div.title-card {
    margin-top: 100px;
    width: 457px;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button.start-1 {
    background-color: var(--dark-blue);
}

div.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 56px;
    margin: 50px;
}

div.card {
    border: none;
    box-shadow: 0 1px 2px var(--grey);
    background: var(--white);
    padding:3em 1.5em 2em;
    border-radius:1em;
    display:flex;
    flex-direction:column;
    gap:2em;
    position:relative;
}

.icon {
    position:absolute;
    top:0;
    transform:translateY(-50%);
    width:3em;
    height:3em;
    background: linear-gradient(0deg, var(--red-grad), var(--orange)); 
    color:white;
    box-sizing:border-box;
    border-radius:50%;
}

div.card-1 {
    background: linear-gradient(0deg, var(--red-grad), var(--orange)); 
    color: var(--white);
    border: none;
}

button {
    border: none;
    color: var(--white);
}

button.blue-grad {
    background: linear-gradient(0deg, var(--red-grad), var(--blue-grad)); 
}

footer.foot {
    background-color: var(--dark-grey-blue);
}
 

@media only screen and (max-width: 825px) {
    
    div.grid {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 42px; 
        margin: 30px 20px;
    }
}


@media only screen and (max-width: 376px) {

    div.grid {
        grid-template-columns: 1fr;
        grid-row-gap: 56px;    
    }  
}

